<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href ="" th:href="@{/css/softwares.css}" />
<script type="text/javascript" th:src = "@{/js/goback.js}"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chrome</title>
</head>
<body>
    <form class="h"> 
        <h1 class="h" >Logined to Chrome.  You can Start your Work</h1>
        <br><br><br><br><br><br><br><br><br><br>
        
        <button  class="home" type="button" th:onclick="goback()">Home</button>
       
        &emsp;&emsp;&emsp;&emsp;
        
        
        <button class="endsession" type="button" th:onclick="goback()">End Session</button>
        
    </form>
   
</body>
</html>